* {
   transition: all 1s;
}
.puter {
  cursor: pointer;
  transform-style: preserve-3d;
}
.puter:hover {
    animation: spin 5s linear infinite;
}
@keyframes puter {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.foto1 {
  transform: rotate(15deg);
  transform-origin: 0 0;
}
h1 {
   color: #03C;
   border:groove
}
body {
	background-color: #cccccc;
	background-image:url(images/foto%20padag.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-attachment:scroll;
	font-family:georgia,garamond,serif;
	font-weight:500;
	
}
figure {
	padding:!important
}
p {
	border:double;
}
ul {
	border:ridge
}
li:hover {
  font-size: 30px;
  text-shadow:4px 4px 8px blue;
  color:#FFC
}
#footer {
   position: absolute;
   left: 510px;
   width: 200px;
}